.jumbotron {
  background-color: #138D75;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
  background-image: url("../images/banner.jpg");
  background-size: cover; }

footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #42A5F5;
  color: white; }

.col-width {
  min-width: 125;
  width: 125px; }

.padding-icon-right {
  padding-right: 10px; }

.padding-icon-left {
  padding-left: 10px; }
