// variable
@amarillo: yellow;
@verde: green;
@rojo:red;

/*
* Los mixin que es lo que nos da este poder de reutilización
* mixin en less es .nombre 
*/
.margenes (@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: #138D75;
    color: white;
    .margenes(50px, 0px);
    //margin-bottom: 0px; se reemplaza por la instrucción anterior .margenes(50px, 0px) la cual contiene a margin-bottom: @bottom;
    background-image: url("../images/banner.jpg");
    background-size: cover; }
  
  footer {
    padding: 10px 10px 0 10px;
    // cambiamos el valor por la variable @azulOscuro
    background-color: @amarillo;
    //margin-bottom: 0px;
    .margenes(10px, 0px);
    margin-bottom: 0px;
    color: white; }
  
  .card-hotel {
    flex: 1 250px;
    .margenes(10px, 0px); }
    //margin-bottom: 0px; 
    
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: #42A5F5;
    color: white; }
  
  .col-width {
    min-width: 125;
    width: 125px; }
  
  .padding-icon-right {
    padding-right: 10px; }
  
  .padding-icon-left {
    padding-left: 10px; }
  