// variable
$amarillo: yellow;
$verde: green;
$rojo:red;

// los mixin que es lo que nos da este poder de reutilización
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
    
.jumbotron {
    background-color: #138D75;
    color: white;
    //margin-top: 50px; se reemplaza por @include margenes
    @include margenes(50px, 0px);
    background-image: url("../images/banner.jpg");
    background-size: cover;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $amarillo;
    //margin-bottom: 0px; se reemplaza por @include margenes
    //margin-top: 10px; se reemplaza por @include margenes
    @include margenes(10px, 0px);
    color: white;
}

.card-hotel {
    flex: 1 250px;
    //margin-top: 10px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: #42A5F5;
    color: white;
}

.col-width {
    min-width: 125;
    width: 125px;
}

.padding-icon-right {
    padding-right: 10px;
}

.padding-icon-left {
    padding-left: 10px;
}


